<header  class="flex items-center text-white p-1.5 bg-gradient-to-r from-black to-gray-800">
    <div class="center ">
        <div id="logo">
            <img src="logo.png" alt="logo" class="w-10 h-8">
        </div>
        <nav id="menu">
            <ul class="">
                <li (click)="navigateHome()" style="cursor: pointer;" class=" pr-10"> {{ globalText.categories }}</li>
                <!-- <li style="cursor: pointer;" class=" pr-10">{{ globalText.cart }}</li>
                <li style="cursor: pointer;" class="">{{ globalText.login }}</li> -->
            </ul>
        </nav>
    </div>
</header>